@import '../../styles/variables.scss';

.index-page {
  &__content {
    min-height: calc(100vh - 124rpx - env(safe-area-inset-bottom));
  }

  &__list {
    padding: 24rpx 32rpx 32rpx;
  }

  &__end {
    padding: 32rpx;
    text-align: center;
  }

  &__load-more {
    padding: 32rpx;
    text-align: center;
  }
}
